$orange: #FD5523;
$contrastText: #FFFBE6;
$main: #356859;



.recipe {
  position: relative;
  left: 20vw;
  width: 50vw;

 

  .recipe-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 40vw;
    object-fit: cover;
  }

  .image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    svg {
      z-index: 5;
      filter: opacity(0%);
      position: absolute;
      fill: $contrastText;
    }

    .loading-image{
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 12;
      .MuiCircularProgress-svg {
        z-index: 15;
        filter: opacity(100%);
      }
    }
  }
  .image:hover {
    cursor: pointer;
    svg {
      filter: opacity(100%);
    }
    img {
      filter: brightness(0.4);
    }
  }

    .info {
      min-height: 90vh;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // align-items: center;


      // h1 {
      //   color: $orange;
      //   font-size: 48;
      //   line-height: 1.2;
      //   padding: 20px 0px;
      // }
      
      .author-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
      }

      #short-description{
        margin: 20px 0px;
      }

      #recipe-info {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 22px 1fr 22px 1fr;
        margin: 20px 0px;
        * {
          color: $main;
          // padding-right: 10px;
        }
     
        .vertical-line {
          width: 1px;
          height: 100%;
          max-height: 30px;
          background-color: $main;
          margin: 10;
          border-style: none;
          align-self: center;
          margin-left: 10px;
        }
      }
      #ingredients {
        margin: 20px 0px;
        list-style: none;
      }
      #instructions {
        margin: 20px 0px;

        #instructions-list{
          margin: 20px;
          font-weight: 100;

              
        
        }
        li {
          margin-bottom: 20px;
        }
      }
      .buttons {
        margin-left: auto;
        font-family: Epilogue;
        button {
          margin-left: 30px;
        }
      }
    }
    .reviews{
      display: flex;
      flex-direction: column;
      max-height: 50vh;
      overflow-y: scroll;
      // text-align: left;
      // justify-content: space-between;
    }
  
  button {
    margin-left: auto;
    font-family: Epilogue;
 
  }
  input #title {
    background: transparent;
    background-color: none;
    border: none;
  }
  }

  @media only screen and (max-width: 600px){
.recipe {
  position: initial;
  // position: relative;
  top: 0;
  left: 0;
  width: 100vw;

  .recipe-image {
    position: initial;
    // position: absolute;
    top: 0;
    // left: 0;
    margin-top: -120px;
    width: 100vw;
    max-height: 60vh;
    max-width: 100vw;
    object-fit: cover;
  }

  .image {
    position: initial;
    top: 0;
    margin-top: -120px;
    width: 100vw;
    max-height: 60vh;
    max-width: 100vw;
    object-fit: cover;

    .loading-image{
      max-height: 60vh;
    }
  }
  

    .info {
      margin: 20px;
      #recipe-info {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;

        .vertical-line {
          display: none;
        }
      }
      #instructions {
        margin: 20px;
      }
    }
    .reviews{
      margin: 20px;
      
    }  
  }
  }
